.Header {
  align-items: baseline;
  display: flex;
  margin: 0;
  padding: 0;
}

.Header h1 {
  font-size: 1.6rem;
  font-weight: 500;
  padding-right: 1.6rem;
}

@media screen and (max-width: 800px) {
  .Header {
    justify-content: space-between;
  }
}